<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light static-top">
      <a class="navbar-brand" href="https://www.p.lodz.pl">
          <%= image_tag("logotyp_politechnika_lodzka.png",:size => "270x90" ) %>
        </a>
		<a class="navbar-brand" href="http://www.weeia.p.lodz.pl">
          <%= image_tag("weeia.png",:size => "270x90" ) %>
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%# <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> %>
          </li>
          <li class="nav-item">
            <%# <a class="nav-link" href="#">Link</a> %>
          </li>
        </ul> 
	
		<%= form_for(:session, url: login_path, method: :post, html: 
		{ class: "navbar-form pull-right form-inline", role: "form", id: "navbar-login" }) do |f| %>
  			<div class="form-group-sm">
    			<%= f.text_field :email, class: "form-control", placeholder: "Adres e-mail" %>
  			</div>
  			<div class="form-group-sm">
			  &nbsp;
    			<%= f.password_field :password, class: 'form-control',id: 'password',placeholder: 'Hasło' %>
  			</div>
  			<div class="sumbit">
			  &nbsp;&nbsp; 
  				<%= f.submit "Zaloguj", class: "btn btn-primary" %>
  				<a class="btn btn-success" href="users/new" role="button">Rejestracja</a>
			</div>

		<% end %>

		

			  
			  <%# <div class="form-group">
                <label for="email" class="sr-only">Adres e-mail</label>
                <div>
                  <input type="email" required id="email" placeholder="Adres e-mail" class="form-control">
                </div>
              </div>
			  <div>&nbsp;</div>
              <div class="form-group">
                <label for="Hasło" class="sr-only">Hasło</label>
                <div>
                  <input type="password" required id="Hasło" placeholder="Hasło" class="form-control">
                </div>
              </div>
			  <div>&nbsp;&nbsp;&nbsp;</div>
			  <div class="form-group">
                <label for="Hasło" class="sr-only">Hasło</label>
                <div>
                  <button type="submit" class="btn btn-primary">Zaloguj</button>
                </div>
              </div>
			  <div>&nbsp;</div>
			  <p><a class="btn btn-success" href="users/new" role="button">Rejestracja</a></p>
               %>
      </div>
    </nav>
      <%# #f9f9f9 %>

	<div class="container">
		<section class="row" style="text-align: right;">
			<aside class="col-md-4" >
				<p class="text-light">s</p>
			</aside>
			<aside class="col-md-4" >
				
			</aside>
			<aside class="col-md-4" >
				<% if flash[:alert] %>
    				<p id="alert"class="text-danger"><%= flash[:alert] %></p>
				<% end %>  
			</aside>
		</section>
	</div>
    <div class="container">
      <div class="jumbotron"  style="background-color:#FFFFFF !important">
        <h1>System rezerwacji sal</h1>
        <p>Wydział Elektotechniki Elektroniki Informatyki i Automatyki Politechniki Łódzkiej</p>
        
      </div>
    </div> <!--.container-->
    <div class="container">
      <section class="row" style="text-align: center;">
		<aside class="col-md-3">
          <h2>Przejrzystość działania</h2>
          <a>Widzisz i wiesz!</a>
		   <p>Kalendarz sal pozwoli Ci na szybkie znalezienie swoich zajęć, bądź wykładowcy, który jest Ci potrzebny w danej chwili</p>
        </aside>
		<aside class="col-md-6">
          <%= image_tag("salaWEEIA.jpg",:size => "500x260" ) %>
        </aside>
        <article class="col-md-3">
			<h2>Brak marnowania czasu</h2>
          	<p>Od teraz jako wykładowca nie będziesz błądził i szukał wolnej sali, bo wszystko będzie ogólnodostępne zarówno dla studentów jak i nauczycieli akademickich</p>
        </article>
	
      </section>
    </div><!-- /.container -->
    <div class="container">    

      </div>
      
    </div><!--.container-->
  </body>

<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <hr>

  <div class="container">
      <section class="row" style="text-align: center;">
        <aside class="col-md-4">
          <p class="text-center text-md-left">© 2020 Copyright:
			<a href="https://www.p.lodz.pl">
            <strong> Politechnika Łódzka</strong>
          </a>
        </aside>
        <article class="col-md-4">
			<%= link_to 'Strona Domowa', logout_path, method: :delete %>
        </article>
		<article class="col-md-4">
			<h6>O nas</h2>
          <small>Tworzymy ten projekt jako grupa studentów trzeciego roku studiów. Uznaliśmy, że podczas nauki możemy również pomóc naszej uczelni - stąd pomysł aplikacji :)</small>
        </article>
      </section>
    </div><!-- /.container -->
    

</footer>

</html>