<!DOCTYPE HTML>
<html lang = "pl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="U-XA-Compatible" content="IE=edge,chrome=1">
  <title>index booked data</title>
  <meta name="description" content="The HTML5 Herald">
</head>
<body>
<%= form_with(model: booked_lecture_room, local: true) do |form| %>
  <% if booked_lecture_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booked_lecture_room.errors.count, "error") %> prohibited this booked_lecture_room from being saved:</h2>

      <ul>
        <% booked_lecture_room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :person %>
    <%= form.text_field :person %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.number_field :hours %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</body>
</html>